pymatgen
monty>3.0.0
numpy==1.18.0
scipy
pytest==5.3.2
pytest-cov==2.8.1
coverage==5.0.1
pydocstyle==5.0.1
flake8==3.7.9
pylint==2.4.4
dataclasses>=0.6; python_version < '3.7'
openbabel>=3.0
pymongo==3.9.0